# Default values for adminer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: adminer
  pullPolicy: IfNotPresent
  tag: latest

imagePullSecrets: []
  # - name: regcred

service:
  type: ClusterIP
  port: 80

env:
 ADMINER_DEFAULT_SERVER: mysql

ingress:
  enabled: false
  tls: true
  host: example.edge.mydevops.info
  certificateIssuer: "letsencrypt-prod"

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
