apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mysql.fullname" . }}
  labels:
    {{- include "mysql.labels" . | nindent 4 }}
data:
  MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
  MYSQL_DATABASE: {{ .Values.mysql.MYSQL_DATABASE | default "mqtt-broker-app" | quote }}
