# Default values for mysql.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: mysql
  pullPolicy: IfNotPresent
  tag: latest

imagePullSecrets: []
  # - name: regcred

service:
  type: ClusterIP
  port: 3306

mysql:
  MYSQL_DATABASE: "mqtt-broker-app"

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
